{% extends "base.html"%}

{% block title%}Secret{% endblock %}





{% block content %}

<div class="container">
         
            <li class="list-group-item">First Name: {{user.first_name}}
            
            {% if session["username"] == user.username %}         
                <form action='/users/{{user.username}}/delete' style="display:inline" method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-sm float-right border-0 m-0 p-0">Delete User <span class="badge badge-pill badge-danger">X</span></button>
                </form>
            {% endif %}

            </li>
            <li class="list-group-item">Last Name: {{user.last_name}}</li>
            <li class="list-group-item">Email: {{user.email}}</li>        
    </ul>
</div>
<br>




<div class="container">
<!-- Feedback header / Add Link -->
    <div class="row">
        <h5 class="col mt-3" >Feedbacks <span class="badge badge-pill badge-info display-4">{{feedbacks|count}}</span></h5>
    {% if session["username"] == user.username %}
        <a style="font-size: 2rem;" class="col-2 p-0 m-0 mt-1" href="/users/{{user.username}}/feedback/add"><span  class="badge p-0 m-0">+ Add</span></a>
    {% endif %}
    </div>
<!-- Feedback's title/content container -->
    <div class="list-group">
    {% for feedback in feedbacks %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between row">
                <h5 class="col-12 mb-1">{{feedback.title}}</h5>
            {% if session["username"] == user.username %}
                <a class="col-1 btn btn-outline-info btn-sm border-0 ml-1" href="/feedback/{{feedback.id}}/update">Edit</a>
                <form class="col-1" action='/feedback/{{feedback.id}}/delete'  method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-sm border-0 ">Delete</button>
                </form>
                <div class="col"></div>
            {% endif %}
            </div>
            <p class="mb-1">{{feedback.content}}</p>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
